$mq-mobile-portrait: 320px !default;
$mq-mobile-landscape: 568px !default;
$mq-tablet-portrait: 768px !default;
$mq-tablet-landscape: 1024px !default;
$mq-desktop: 1382px !default;

$uga-red:#AE070F;

@mixin mobile-only {
  @media (max-width : $mq-mobile-landscape) {
    @content;
  }
}
@mixin mobile-portrait-only {
  @media (max-width : $mq-mobile-portrait) {
    @content;
  }
}
@mixin mobile-landscape-only {
  @media only screen and (min-width : $mq-mobile-portrait + 1) and (max-width : $mq-mobile-landscape) {
    @content;
  }
}
@mixin tablet-only {
  @media only screen and (min-width : $mq-mobile-landscape + 1) and (max-width : $mq-tablet-landscape) {
    @content;
  }
}
@mixin tablet-portrait-only {
  @media only screen and (min-width : $mq-mobile-landscape + 1) and (max-width : $mq-tablet-portrait) {
    @content;
  }
}
@mixin tablet-landscape-only {
  @media only screen and (min-width : $mq-tablet-portrait + 1) and (max-width : $mq-tablet-landscape) {
    @content;
  }
}
@mixin tablet-and-up {
  @media only screen and (min-width : $mq-mobile-landscape + 1) {
    @content;
  }
}
@mixin desktop-and-up {
  @media only screen and (min-width : $mq-tablet-landscape + 1) {
    @content;
  }
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dd, dl, dt, li, ol, ul,
fieldset, form, label, legend, button,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

header{
    position:relative;
    background-color:rgb(51,51,51);
    background-size:100% 100%;
    text-align: center;
}

a{
  color:black;
  font-family: Helvetica;
  letter-spacing: 1.4px;
  text-decoration: none;
  &:active{
    color:$uga-red;
  }
  &:hover{
    text-decoration: underline;
    color:$uga-red;
  }
}

li{
  display: inline-block;
  margin:3px 4px 7px 0px;
  padding-right:5px;
  font-family: Helvetica;
  @include tablet-and-up{
    &:not(:last-child){
      border-right:solid 2px #fff;
    }
  }
  a{
    color:white;
  }
  @include mobile-only{
    display:block;
    &:not(:last-child){
      border-bottom:1px solid rgba(0,0,0,0.4);
    }
  }
}

ul{
  @include mobile-only{
      display: block;
      text-align:end;
  }
}

area{
  outline:none;
}

body{
  background-color:#f3f3f3;
}

p, h1, h2, h3, h4{
  font-family: Helvetica;
}

#logo{
  @include mobile-only{
    width:200px;
    padding:10px 0 10px 0;
  }
}

#menu-button{
  display:none;
  font-size: 0;
  line-height: 3px;
  position:absolute;
  right:10px;
  top:30px;
  background-color:transparent;
  border-color:rgb(230,222,222);
  border-style:solid none double;
  border-width:4px 0 12px;
  width:36px;
  @include mobile-only{
    display:inline;
  }
}

#home_icon{
  position:absolute;
  width:34px;
  height:34px;
  top:20px;
  left:10px;
  display:none;
  @include mobile-only{
    display:block;
  }
}

#home_img{
  width:100%;
}

@include mobile-only{
  ._hidden{
    display:none;
  }
}

#contentContainer{
  text-align: center;
  padding:10px 5px 10px 5px;
}

.personContainer{
  text-align:initial;
  position:relative;
  padding-bottom:15px;
  border-bottom:solid $uga-red;
  margin:5px 0 15px 0;
  @include tablet-and-up{
    display:inline-block;
    width:29%;
    border-bottom:none;
    text-align: center;
    padding:5px 10px 0 10px;
  }
  img{
    display:inline-block;
    margin:0 10px 0 10px;
    @include mobile-only{
      width:120px;
      height:120px;
    }
    @include tablet-only{
      width:220px;
      height:220px;
    }
  }
  p{
    display:inline-block;
    vertical-align: top;
    @include mobile-portrait-only{
      font-size:16px;
      width:50%;
      margin-top: 4px;
    }
    @include mobile-landscape-only{
      font-size:21px;
      width:70%;
      margin-top: 12px;
    }
    @include tablet-portrait-only{
      font-size:30px;
      width:65%;
      margin-top: 30px;
    }
    @include tablet-landscape-only{
      font-size:30px;
    }
    @include desktop-and-up{
      font-size:30px;
      text-align: left;
      margin-top: 5px;
    }
  }
}

#personTitle{
  margin-bottom:7px;
  padding-bottom:2px;
  border-bottom: solid 2px $uga-red;
}

#single_headshot{
  @include mobile-only{
    width:230px;
    height:230px;
  }
  @include tablet-only{
    width:400px;
    height:400px;
  }
}

#story{
  text-align: left;
  padding-bottom:5px;
  @include tablet-and-up{
    font-size: 20px;
  }
}

#peabody_banner{
  //margin-top:8px;
  margin-bottom: 15px;
  @include mobile-only{
    width:240px;
    height:110px;
  }
  @include tablet-portrait-only{
    width: 500px;
    height:240px;
  }
  @include tablet-landscape-only{
    width:550px;
    height:245px;
  }
  @include desktop-and-up{
    width:800px;
    height:275px;
  }
}

#peabody_awards{
  white-space: nowrap;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
}

#award_container{
  display:inline-block;
  white-space: normal;
  vertical-align: top;
  @include mobile-only{
    width:195px;
    padding:0 5px 0 5px;
  }
  @include tablet-only{
    width:315px;
    padding:0 9px 0 9px;
  }
  @include desktop-and-up{
    width:340px;
    padding: 0 12px 0 12px;
  }
  img{
    @include mobile-only{
      width:170px;
      height:170px;
      padding:4px 0 4px 0;
    }
    @include tablet-only{
      width:310px;
      height:310px;
      padding:9px 0 9px 0;
    }
    @include desktop-and-up{
      width:320px;
      height:320px;
      padding:10px 0 10px 0;
    }
  }
  h2{
    @include tablet-and-up{
      font-size:40px;
    }
  }
}

#single-peadbody_video{
  @include mobile-landscape-only{
    width:450px;
    height:168px;
  }
  @include tablet-portrait-only{
    width:670px;
    height:370px;
  }
  @include tablet-landscape-only{
    width:720px;
    height:360px;
  }
}

#single-award_container{
  display:block;
  margin:auto;
  @include mobile-portrait-only{
    width:295px;
  }
  @include mobile-landscape-only{
    width:545px;
  }
  @include tablet-portrait-only{
    width:730px;
  }
  @include tablet-landscape-only{
    width:990px;
  }
  h2{
    border-bottom: solid 2px $uga-red;
    margin-bottom:8px;
    @include tablet-only{
      font-size: 40px;
      margin-bottom: 14px;
    }
  }
  p{
    text-align:left;
    font-size: 18px;
    @include tablet-only{
      font-size:26px;
    }
  }
  a{
    color:blue;
    text-decoration:underline;
  }
}

#carousel{
  margin-bottom: 0px;
  img{
    margin:auto;
    @include mobile-only{
      height:275px;
    }
    @include tablet-only{
      height:500px;
    }
    @include desktop-and-up{
      height:350px;
    }
  }
  .carousel-caption{
    position:initial;
    background-color:#333333;
    padding:10px;
    h4{
      line-height: initial;
      @include mobile-only{
        font-size: 22px;
      }
      @include tablet-only{
        font-size:35px;
      }
      @include desktop-and-up{
        margin-top: 0px;
        font-size: 35px;
      }
    }
    p{
      line-height: initial;
      text-align:left;
      @include mobile-only{
        font-size: 19px;
      }
      @include tablet-only{
        font-size:32px;
      }
      @include desktop-and-up{
        font-size: 30px;
      }
    }
  }
  .carousel-control{
    background-image:initial;
    color:black;
    @include mobile-only{
      top:80px;
      font-size: 120px;
    }
    @include tablet-only{
      top:100px;
      font-size: 300px;
    }
    @include desktop-and-up{
      top:0px;
      font-size: 290px;
    }
  }
}

#give_video{
  @include mobile-portrait-only{
    width:305px;
    height:168px;
    margin-top: 10px;
  }
  @include mobile-landscape-only{
    width:400px;
    height:200px;
    margin-top: 10px;
  }
  @include tablet-only{
    width:690px;
    height:400px;
    margin-top: 20px;
  }
  @include desktop-and-up{
    width:910px;
    height:370px;
    margin-top: 10px;
  }
}

.give_button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  margin-top: 40px;
  font: 24px/100% Arial, Helvetica, sans-serif;
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  @include mobile-only{
    font-size:25px;
  }
  @include mobile-landscape-only{
    margin-bottom: 20px;
    margin-top: 20px;
  }
  @include mobile-portrait-only{
    margin-bottom: 90px;
  }
  @include tablet-only{
    font-size: 35px;
  }
  @include desktop-and-up{
    font-size: 35px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
.button:hover {
  text-decoration: none;
}
.button:active {
  position: relative;
  top: 1px;
}

.black {
  color: #d7d7d7;
  border: solid 1px #333;
  background: #333;
  background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
  background: -moz-linear-gradient(top,  #666,  #000);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
.black:hover {
  background: #000;
  background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
  background: -moz-linear-gradient(top,  #444,  #000);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
}
.black:active {
  color: #666;
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444));
  background: -moz-linear-gradient(top,  #000,  #444);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666');
}

.clearfix {
    float: none;
    clear: both;
}

.social_logo{
  @include mobile-only{
    width:150px;
    height:150px;
  }
  @include tablet-only{
    width:300px;
    height:300px;
  }
  @include desktop-and-up{
    width:315px;
    height:315px;
  }
}

footer{
  width:100%;
  background-image: -ms-linear-gradient(top, #F3F3F3 0%, #696969 100%);
  background-image: -moz-linear-gradient(top, #F3F3F3 0%, #696969 100%);
  background-image: -o-linear-gradient(top, #F3F3F3 0%, #696969 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F3F3F3), color-stop(1, #696969));
  background-image: -webkit-linear-gradient(top, #F3F3F3 0%, #696969 100%);
  background-image: linear-gradient(to bottom, #F3F3F3 0%, #696969 100%);
  padding-top:4px;
  text-align: center;
  p{
    text-decoration: underline;
    margin-bottom: 1px;
    margin-top: 10px;
    font-weight: bold;
    @include mobile-portrait-only{
      font-size: 10px;
    }
    @include mobile-landscape-only{
      font-size: 18px;
    }
  }
  li{
    display: inline-block;
    margin-right: 0px;
    padding-right:3px;
    //color:white;
    &:not(:last-child){
      border-right:solid 2px #fff;
      border-bottom:none;
    }
    @include mobile-portrait-only{
      font-size: 10px;
    }
  }
  ul{
    text-align: center;
  }
}